{% extends 'base.html.twig' %}

{% block title %}New Bcategorie{% endblock %}

{% block body %}
    <h1>Create new Bcategorie</h1>

    {{ include('bcategories/_form.html.twig') }}

    <a href="{{ path('app_bcategories_index') }}">Back to list</a>
{% endblock %}
